/*css*/
.imageBackground {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1082%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(222%2c 239%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c810.286C155.155%2c825.552%2c319.567%2c784.052%2c441.215%2c686.544C558.482%2c592.548%2c595.534%2c436.362%2c643.983%2c294.097C688.027%2c164.766%2c731.014%2c32.914%2c709.775%2c-102.05C688.693%2c-236.019%2c606.172%2c-346.396%2c525.979%2c-455.764C439.207%2c-574.103%2c363.244%2c-716.717%2c224.351%2c-764.069C84.11%2c-811.88%2c-71.05%2c-764.134%2c-207.22%2c-705.728C-333.126%2c-651.724%2c-441.493%2c-561.981%2c-515.536%2c-446.714C-583.692%2c-340.612%2c-605.227%2c-213.048%2c-604.704%2c-86.943C-604.232%2c26.694%2c-546.573%2c125.672%2c-512.71%2c234.147C-473.078%2c361.105%2c-477.153%2c505.53%2c-388.736%2c604.885C-289.294%2c716.63%2c-148.866%2c795.639%2c0%2c810.286' fill='%23c6e3ff'%3e%3c/path%3e%3cpath d='M1920 1650.542C2054.317 1672.2 2197.2219999999998 1762.2440000000001 2317.079 1697.866 2436.159 1633.905 2448.507 1469.432 2494.094 1342.18 2535.901 1225.481 2566.237 1110.082 2572.01 986.255 2578.944 837.529 2622.67 667.887 2531.003 550.563 2439.319 433.217 2262.691 440.96299999999997 2118.107 405.308 1980.19 371.297 1842.019 310.399 1704.712 346.79499999999996 1566.021 383.558 1438.862 477.59799999999996 1370.163 603.563 1305.824 721.533 1377.9850000000001 866.65 1349.5639999999999 997.984 1317.8490000000002 1144.538 1136.848 1272.87 1195.4560000000001 1410.888 1253.551 1547.6970000000001 1456.376 1535.159 1597.49 1581.835 1704.003 1617.066 1809.243 1632.683 1920 1650.542' fill='%23f6fbff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1082'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0px !important;
}

.input {
    border-radius: 20px;
}

.formcontainer {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.buttonprimary {
    background-color: #C4E4FC;
    border-color: #C4E4FC;
    border-radius: 20px;
}

.buttonprimary:hover {
    background-color: #E0EFFC;
    border-color: #E0EFFC;
    border-radius: 20px;
}

.form>* {
    width: 80%;
}

.formwidth {
    width: 180px;
    height: 100vh;
}

.master {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.dashboardcontent {
    height: 100vh;
}

.iconstyle{
    width: 18px;
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(146deg) brightness(109%) contrast(105%);
    transform: translate(0px, -2px);
}

.iconstyledash{
    width: 18px;
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(146deg) brightness(109%) contrast(105%);
    transform: translate(0px, -2px);
}

.iconcircle{
    background-color: #60c9a2;
    padding-top: 8px;
    border-radius: 100px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;
    display: inline-block;
}

.customli{
    border-radius: 20px !important;
}

.cardinfo{
    display: flex;
    justify-content: space-between
}

.customli:active{
    background-color: #C4E4FC;
}
--bs-nav-pills-link-active-bg {
    background-color: #C4E4FC;
}

.customli:hover{
    background-color: #5f6469;
}